<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>makeTeams</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/">WeebzS2Veebz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/playerList">Player List</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/addPlayer">Add a Player</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/selectPlayers">Make Teams</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/game">Go to Game</a>
                        </li>
                    </ul>
                </div>
            </nav>

    <div class="container">
      <div class="starter-template">
        <h1>Add a player</h1>
        <form method="post" action="/addPlayerForm">
            <div class="form-group row">
                <label for="fname" class="col-sm-2 col-form-label" style="text-align:left;">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="fname"/>
                </div>
                <label for="lname" class="col-sm-2 col-form-label" style="text-align:left;">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lname"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="preferredPosition" class="col-sm-2 col-form-label" style="text-align:left;">Preferred Position</label>
                <div class="col-sm-10" style="text-align: left;">
                    <input type="radio" name="preferredPosition" value="power">Power<br>
                    <input type="radio" name="preferredPosition" value="middle">Middle<br>
                    <input type="radio" name="preferredPosition" value="offside">Offside<br>
                    <input type="radio" name="preferredPosition" value="setter">Setter 
                </div>
            </div>
            <div class="form-group row">
                <label for="alernatePositions" class="col-sm-2 col-form-label" style="text-align:left;">Alternative positions</label>
                <div class="col-sm-10" style="text-align: left;">
                    <input type="checkbox" name="power" value="power">Power<br>
                    <input type="checkbox" name="middle" value="middle">Middle<br>
                    <input type="checkbox" name="offside" value="offside">Offside<br>
                    <input type="checkbox" name="setter" value="setter">Setter 
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="paddingTop: 20px;">Add player</button>
        </form>
    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
